<style>

@charset "utf-8";

/* 
	Resets
	------
*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, 
img, ins, q, small, strong, sub, sup, dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	border-spacing: 0;
}

article, aside, figure, figure img, figcaption, hgroup,
footer, header, nav, section, video, object {
	display: block;
}

a img {border: 0;}

figure {position: relative;}
figure img {width: 100%;}


/* TYPOGRAPHY
------------------------------------- */

a {
	color: #ffffff;
	text-shadow: -1px -1px 1px rgba(0,0,0,0.8);
	text-decoration: none;
}

/* COMMON CLASSES
------------------------------------- */

.ac { text-align: center; }
.left { float: left; }
.right { float: right; }

.push { clear:both; }

ul { list-style:none; }

.avatar {
	padding: 3px;
	border: 1px solid #cccccc;
	border-bottom-width: 3px;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #eeeeee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#eeeeee 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#eeeeee 100%); /* IE10+ */
	background: linear-gradient(top,  #ffffff 0%,#eeeeee 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
	margin: 5px 8px 5px 0;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

/* LAYOUT
------------------------------------- */

body {
	background: url('../img/wood-mahogany.jpg');
	background-size: 540px 640px;
	font: normal 100% "Helvetica Neue", "Helvetica", Arial, sans-serif;
	color: #f5f5f5;
	margin: 0;
	padding: 0;
}

fieldset {
	margin: 5px;
}

input {
	padding: 5px;
	font-size: 1em;
	.box-shadow;
}

a.twitter-connect {
	display: block;
	margin: 0 auto;
	height: 24px;
	width: 151px;
	background: url('../img/sign-in-with-twitter.png') 0 0 no-repeat;
}

#footer {
	position: fixed;
	top: auto;
	bottom: 0;
	display: block;
	height: 50px;
	min-height: 50px;
	width: 100%;
	z-index:2;
    border: none;
	color: #ffffff;
	font-weight: bold;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.5);
	border-top: 1px solid #000000;
	background: #382b22; /* Old browsers */
	background: -moz-linear-gradient(top,  #382b22 0%, #1b100d 20%, #1b100d 87%, #000000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#382b22), color-stop(20%,#1b100d), color-stop(87%,#1b100d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #382b22 0%,#1b100d 20%,#1b100d 87%,#000000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #382b22 0%,#1b100d 20%,#1b100d 87%,#000000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #382b22 0%,#1b100d 20%,#1b100d 87%,#000000 100%); /* IE10+ */
	background: linear-gradient(top,  #382b22 0%,#1b100d 20%,#1b100d 87%,#000000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#382b22', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
	box-shadow: 0 -1px 2px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 -1px 2px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 -1px 2px rgba(0,0,0,0.5);
}

#footer ul {
	width: 100%;
	margin: 2px 0 auto;
	padding: 0;
}
#footer ul li {
	display: inline-block;
	width: 33%;
	margin: 0;
	padding: 0;
	background: none;
	border: none;
}
#footer ul li.active {
	background: rgba(171,144,144,0.25);
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	box-shadow: 0 0 3px rgba(0,0,0,0.35) inset;
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,0.35) inset;
	-moz-box-shadow: 0 0 3px rgba(0,0,0,0.35) inset;
}
#footer ul li a {
	display: block;
	width: 100%;
	text-align: center;
	color: #ab9090;
	font-weight: 500;
	letter-spacing: 1px;
	font-size: 0.75em;
	text-shadow: -1px -1px 1px rgba(0,0,0,0.8);
}
#footer ul li.active a, #footer ul li a[selected], #footer ul li a:active {
	color: #ffffff;
	background: none;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.8);
}
#footer ul li a span {
	display: block;
	margin: 0 auto;
	padding: 0;
	height: 30px;
	width: 30px;
	color: #ffffff;
	background: url('../img/sprites.png');
	background-size: 120px 120px;
}
#footer ul li.find_beer a span {
	background-position: -60px 0;
}
#footer ul li.find_beer.active a span {
	background-position: -90px 0;
}

#footer ul li.the_tab a span {
	background-position: -60px -30px;
}
#footer ul li.the_tab.active a span {
	background-position: -90px -30px;
}

#footer ul li.profile a span {
	background-position: -60px -60px;
}
#footer ul li.profile.active a span {
	background-position: -90px -60px;
}

/* INPUT
------------------------------- */

li.input-text {
	height: 45px;
	padding: 0 5px 5px;
	margin: 0;
	background: rgb(238,238,238); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* W3C */
	border-bottom: 1px solid @black;
}

li.textarea {
	padding: 0;
	height: 90px;
	position: relative;
}

li.textarea textarea {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 80px;
	resize: none;
	margin: -1px;
	padding: 0.5em;
	outline: none;
	border: none;
	.border-radius(0em);
}

li.input-text input.search {
	background: #efefef url('/img/sprite.png') -40px -45px no-repeat;
	padding-left: 40px;
	border-radius: 1em;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
}
li.input-text input.search:focus {
	background: #ffffff url('/img/sprite.png') -40px -45px no-repeat;
	padding-left: 40px;
	border-radius: 1em;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
}


/* FACEBOOK CONNECT
------------------------------- */

.callback {
	position:absolute;
	top:0;
	bottom:0;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding: 0;
	vertical-align:
	middle; 
}
.loading {
	background: transparent url('/img/loader.gif') center center no-repeat;
	-webkit-animation-name: rotate;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

/* LISTS
------------------------------- */

li {
	padding: 5px 10px;
	color: #2c2c2c;
	text-shadow: 1px 1px 1px #ffffff;
	background: rgb(245,245,245); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(245,245,245,1) 0%, rgba(239,239,239,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(245,245,245,1)), color-stop(100%,rgba(239,239,239,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(245,245,245,1) 0%,rgba(239,239,239,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(245,245,245,1) 0%,rgba(239,239,239,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(245,245,245,1) 0%,rgba(239,239,239,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(245,245,245,1) 0%,rgba(239,239,239,1) 100%); /* W3C */
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #cccccc;
}
li.heading {
	padding: 2px 10px;
	font: normal 12px "Helvetica Neue", "Helvetica", sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #ffffff;
	text-shadow: -1px -1px 1px rgba(0,0,0,0.5);
	background: #e05c0b; /* Old browsers */
	background: -moz-linear-gradient(top,  #e05c0b 0%, #cb5909 15%, #cb5909 85%, #b75d09 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e05c0b), color-stop(15%,#cb5909), color-stop(85%,#cb5909), color-stop(100%,#b75d09)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e05c0b 0%,#cb5909 15%,#cb5909 85%,#b75d09 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e05c0b 0%,#cb5909 15%,#cb5909 85%,#b75d09 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e05c0b 0%,#cb5909 15%,#cb5909 85%,#b75d09 100%); /* IE10+ */
	background: linear-gradient(top,  #e05c0b 0%,#cb5909 15%,#cb5909 85%,#b75d09 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e05c0b', endColorstr='#b75d09',GradientType=0 ); /* IE6-9 */
	border-top: 1px solid #cc6600;
	border-bottom: 1px solid #aaaaaa;
	box-shadow: 0 1px 2px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.5);
}

li > a[selected], li > a:active {
	background: rgb(254,252,234); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(254,252,234,1) 0%, rgba(255,255,204,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,252,234,1)), color-stop(100%,rgba(255,255,204,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(254,252,234,1) 0%,rgba(255,255,204,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(254,252,234,1) 0%,rgba(255,255,204,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(254,252,234,1) 0%,rgba(255,255,204,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(254,252,234,1) 0%,rgba(255,255,204,1) 100%); /* W3C */
}
li.load-message {
	height: auto;
	color: #aaaaaa;
	padding: 10px;
	font: normal 0.75em "Helvetica Neue", "Helvetica", sans-serif;
}
li.share {
	height: 40px;
}
li a {
	color: #2c2c2c;
	text-shadow: 0 1px 1px #ffffff;
	height: 100%;
	display: block;
	margin: -5px -10px;
	padding: 5px 10px;
}

li h3 {
	font: 900 1.125em "Helvetica Neue", "Helvetica", sans-serif;
	margin: 5px 0 0;
	color: #2c2c2c;
	display: block;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -icab-text-overflow: ellipsis;
    -khtml-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
li p.meta {
	font: 500 0.875em "Helvetica Neue", "Helvetica", sans-serif;
	margin: 5px 0;
	color: #888888;
	display: block;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -icab-text-overflow: ellipsis;
    -khtml-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
li p.meta b {
	color: #888888;
}
li p.rate_count {
	font: 500 0.875em "Helvetica Neue", "Helvetica", sans-serif;
	margin: 10px 5px 0;
	color: #888888;
	display: block;
}


/* BUTTONS
------------------------------- */

#backButton {
	height: 30px;
	width: 95px;
	margin-top: -2px;
	padding: 0 8px 0 12px;
	text-align: center;
    background: url('/img/backbutton.png');
}

#addFriend {
	height: 30px;
	width: 50px;
	margin-top: 5px;
	background: url('/img/backbutton.png') 0 -120px;
}
#addFriend:active {
	background-position: 0 -150px;
}

.btn {
	display: block;
	border: 1px solid #696151;
	background: #fadb4e;
	font-weight: bold;
	color: #333;
	text-align: center;
	text-shadow: 0 1px 0 rgba(255,255,255,0.5);
	border-radius: 1em;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	margin: 0.5em;
	padding: 0.5em;
}

.orange.btn {
	background: #ffc861; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffc861 0%, #ffa600 10%, #ffa600 83%, #ec9a01 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffc861), color-stop(10%,#ffa600), color-stop(83%,#ffa600), color-stop(100%,#ec9a01)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffc861 0%,#ffa600 10%,#ffa600 83%,#ec9a01 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffc861 0%,#ffa600 10%,#ffa600 83%,#ec9a01 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffc861 0%,#ffa600 10%,#ffa600 83%,#ec9a01 100%); /* IE10+ */
	background: linear-gradient(top,  #ffc861 0%,#ffa600 10%,#ffa600 83%,#ec9a01 100%); /* W3C */
}

.btn.light {
    background: #d9d9d9; /* Old browsers */
    color: #ffffff;
    background: -moz-linear-gradient(top, #d9d9d9 0%, #b6b6b6 14%, #b6b6b6 50%, #acacac 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d9d9d9), color-stop(14%,#b6b6b6), color-stop(50%,#b6b6b6), color-stop(100%,#acacac)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #d9d9d9 0%,#b6b6b6 14%,#b6b6b6 50%,#acacac 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #d9d9d9 0%,#b6b6b6 14%,#b6b6b6 50%,#acacac 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #d9d9d9 0%,#b6b6b6 14%,#b6b6b6 50%,#acacac 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9d9d9', endColorstr='#acacac',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #d9d9d9 0%,#b6b6b6 14%,#b6b6b6 50%,#acacac 100%); /* W3C */
    border: 1px solid #999999;
}
.btn.light:hover {
    background: #c4c4c4; /* Old browsers */
    color: #ffffff;
    background: -moz-linear-gradient(top, #c4c4c4 0%, #8e8e8e 14%, #8e8e8e 50%, #636363 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c4c4c4), color-stop(14%,#8e8e8e), color-stop(50%,#8e8e8e), color-stop(100%,#636363)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #c4c4c4 0%,#8e8e8e 14%,#8e8e8e 50%,#636363 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #c4c4c4 0%,#8e8e8e 14%,#8e8e8e 50%,#636363 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #c4c4c4 0%,#8e8e8e 14%,#8e8e8e 50%,#636363 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4c4c4', endColorstr='#636363',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #c4c4c4 0%,#8e8e8e 14%,#8e8e8e 50%,#636363 100%); /* W3C */
    border: 1px solid #7D7E7A;
}

/* ICON
------------------------------- */

.icon {
	display: block;
	vertical-align: middle;
	height: 40px;
	width: 40px;
	margin-right: 10px;
	background: url('/img/sprite.png') 0 0 no-repeat;
}
.icon.arrow {
	margin: 6px 0;
	background-position: -40px 0;
	margin-right: -10px;
}


/* RATE CONTROLS
------------------------------- */

ul.rate_controls {
	list-style: none;
	width: 95%;
	display: block;
	margin: 0 auto;
	margin-top: 10px;
	padding: 0;
}
ul.rate_controls li {
	cursor: pointer;
	display: inline-block;
	text-align: center;
	width: 24.5%;
	margin: 0;
	padding: 5px 0;
	border: 1px solid #cccccc;
	border-bottom: 3px solid #b2b2b2;
	border-left: 1px solid #ffffff;
	background: #eeeeee; /* Old browsers */
	background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* IE10+ */
	background: linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
}
ul.rate_controls li.active {
	border: 1px solid #cccccc;
	border-bottom: 3px solid #b2b2b2;
	border-left: 1px solid #ffffff;
	background: #f1da36; /* Old browsers */
	background: -moz-linear-gradient(top,  #f1da36 0%, #fefcea 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1da36), color-stop(100%,#fefcea)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f1da36 0%,#fefcea 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f1da36 0%,#fefcea 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f1da36 0%,#fefcea 100%); /* IE10+ */
	background: linear-gradient(top,  #f1da36 0%,#fefcea 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1da36', endColorstr='#fefcea',GradientType=0 ); /* IE6-9 */
}

ul.rate_controls span {
	display: block;
	margin: 0 auto;
	height: 30px;
	width: 30px;
	background: url('../img/sprites.png');
	background-size: 120px 120px;
}
ul.rate_controls li.love span {
	background-position: 0 0;
}
ul.rate_controls li.love.active span {
	background-position: -30px 0;
}

ul.rate_controls li.like span {
	background-position: 0 -30px;
}
ul.rate_controls li.like.active span {
	background-position: -30px -30px;
}

ul.rate_controls li.meh span {
	background-position: 0 -60px;
}
ul.rate_controls li.meh.active span {
	background-position: -30px -60px;
}

ul.rate_controls li.dislike span {
	background-position: 0 -90px;
}
ul.rate_controls li.dislike.active span {
	background-position: -30px -90px;
}

ul.rate_controls li:first-child {
	border-radius: 0.75em 0 0 0.75em;
	-webkit-border-radius: 0.75em 0 0 0.75em;
	-moz-border-radius: 0.75em 0 0 0.75em;
	border-left: none;
}
ul.rate_controls li:last-child {
	border-radius: 0 0.75em 0.75em 0;
	-webkit-border-radius: 0 0.75em 0.75em 0;
	-moz-border-radius: 0 0.75em 0.75em 0;
	/*border-right: none;*/
}


/* STAT TABLE
------------------------------- */

table.stats {
	width: 90%;
	color: #888888;
	margin: 0 auto;
}
table.stats th {
	font-weight: 900;
	padding: 5px;
	text-align: left;
}
table.stats td {
	font-weight: 500;
	padding: 5px;
	text-align: right;
	display: block;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -icab-text-overflow: ellipsis;
    -khtml-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}


/*	Retina media query.
	Overrides styles for devices with a 
	device-pixel-ratio of 2+, such as iPhone 4.
-----------------------------------------------    */

@media 
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min-device-pixel-ratio: 2) {
		
		#footer ul li a span {
			display: block;
			margin: 0 auto;
			padding: 0;
			height: 30px;
			width: 30px;
			color: #ffffff;
			background: url('../img/sprites.hd.png');
			background-size: 120px 120px;
		}
		
		.icon {
			display: block;
			height: 40px;
			width: 40px;
			margin-right: 10px;
			background: url('/img/sprite.hd.png') 0 0 no-repeat;
			background-size: 80px 160px;
		}
		
		#addFriend {
			height: 30px;
			width: 50px;
			margin-top: 5px;
			background: url('/img/backbutton.hd.png') 0 -120px;
			background-size: 75px 180px;
		}
		
		#backButton {
			height: 30px;
			width: 95px;
			margin-top: -2px;
			padding: 0 8px 0 12px;
			text-align: center;
		    background: url('/img/backbutton.hd.png');
			background-size: 75px 180px;
		}
		
		ul.rate_controls span {
			display: block;
			margin: 0 auto;
			cursor: pointer;
			height: 30px;
			width: 30px;
			background: url('../img/sprites.hd.png');
			background-size: 120px 120px;
		}

}

</style>