@charset "utf-8";

/* 
	Resets
	------
*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, 
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, 
img, ins, q, small, strong, sub, sup, dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	border-spacing: 0;
}

article, aside, figure, figure img, figcaption, hgroup,
footer, header, nav, section, video, object {
	display: block;
}

a img {border: 0;}

figure {position: relative;}
figure img {width: 100%;}


/* COLORS
------------------------------------- */

@stout: #1B100D;
@wheat: #6A2C0C;
@amber: #CB5909;
@pale: #F18E1C;
@light: #FFFBB1;

@white: #f5f5f5;
@black: #2c2c2c;
@gray: #888888;

.grayGradient {
	background: rgb(245,245,245); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(245,245,245,1) 0%, rgba(239,239,239,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(245,245,245,1)), color-stop(100%,rgba(239,239,239,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(245,245,245,1) 0%,rgba(239,239,239,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(245,245,245,1) 0%,rgba(239,239,239,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(245,245,245,1) 0%,rgba(239,239,239,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(245,245,245,1) 0%,rgba(239,239,239,1) 100%); /* W3C */
}
.whiteGradient {
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #f5f5f5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f5f5f5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f5f5f5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#f5f5f5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#f5f5f5 100%); /* IE10+ */
	background: linear-gradient(top,  #ffffff 0%,#f5f5f5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f5f5',GradientType=0 ); /* IE6-9 */
}
.blueGradient {
	background: #00b7ea; /* Old browsers */
	background: -moz-linear-gradient(top,  #00b7ea 0%, #009ec3 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00b7ea), color-stop(100%,#009ec3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #00b7ea 0%,#009ec3 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #00b7ea 0%,#009ec3 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #00b7ea 0%,#009ec3 100%); /* IE10+ */
	background: linear-gradient(top,  #00b7ea 0%,#009ec3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#009ec3',GradientType=0 ); /* IE6-9 */
}
.blueGradient-reverse {
	background: #05abe0; /* Old browsers */
	background: -moz-linear-gradient(top,  #05abe0 0%, #53cbf1 7%, #53cbf1 97%, #87e0fd 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#05abe0), color-stop(7%,#53cbf1), color-stop(97%,#53cbf1), color-stop(100%,#87e0fd)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #05abe0 0%,#53cbf1 7%,#53cbf1 97%,#87e0fd 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #05abe0 0%,#53cbf1 7%,#53cbf1 97%,#87e0fd 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #05abe0 0%,#53cbf1 7%,#53cbf1 97%,#87e0fd 100%); /* IE10+ */
	background: linear-gradient(top,  #05abe0 0%,#53cbf1 7%,#53cbf1 97%,#87e0fd 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05abe0', endColorstr='#87e0fd',GradientType=0 ); /* IE6-9 */
}
.orangeGradient {
	background: #ffc861; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffc861 0%, #ffa600 10%, #ffa600 83%, #ec9a01 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffc861), color-stop(10%,#ffa600), color-stop(83%,#ffa600), color-stop(100%,#ec9a01)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffc861 0%,#ffa600 10%,#ffa600 83%,#ec9a01 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffc861 0%,#ffa600 10%,#ffa600 83%,#ec9a01 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffc861 0%,#ffa600 10%,#ffa600 83%,#ec9a01 100%); /* IE10+ */
	background: linear-gradient(top,  #ffc861 0%,#ffa600 10%,#ffa600 83%,#ec9a01 100%); /* W3C */
}

/* TYPOGRAPHY
------------------------------------- */

.type(@weight: normal, @size: 1em) {
	font: @weight @size "Helvetica Neue", "Helvetica", sans-serif;
}

h3 {
	.type(900, 1.125em);
	margin: 5px 0 0;
	color: @black;
	display: block;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -icab-text-overflow: ellipsis;
    -khtml-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
h3.beer_name { margin: -5px 0 5px; }

p.meta, li.meta {
	.type(500, 0.875em);
	margin: 5px 0;
	color: @gray;
	display: block;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -icab-text-overflow: ellipsis;
    -khtml-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
li.meta {
	margin: 0;
}
li.meta ul li {
	color: @gray;
	list-style: square;
	border: none;
	margin-left: 30px;
	text-indent: 0;
}
li.meta ul li:last-child {
	margin-bottom: 5px;
}
li.meta h3 {
	color: @gray;
}
p.comment {
	.type(normal, 1em);
	color: @black;
	margin: 0 0 5px;
}
.comment_count, time {
	display: block;
	.type(500,0.75em);
	color: #888888;
	margin: 0;
	padding: 0;
}
.comment_count {
	padding: 1px;
	margin-right: -2px;
	height: 10px;
}
span.info {
	display: block;
	margin: 5px 20px 0 0;
}

li.feed-item p.meta, li.feed-item time {
	margin: 2px 0 5px;
}
p.meta b {
	.type(900, 1em);
	color: @gray;
}
p.rate_count {
	.type(500, 0.875em);
	margin: 10px 5px 0;
	color: @gray;
	display: block;
}

a {
	color: @white;
	text-shadow: -1px -1px 1px rgba(0,0,0,0.8);
	text-decoration: none;
}

blockquote {
	.type(normal, 0.875em);
	font-family: "Georgia", serif;
	font-style: italic;
	display: block;
	padding: 0 5px 5px;
	margin: 5px 20px 0 35px;
	color: @black;
	text-shadow: 0 1px 1px #ffffff;
}
blockquote:before {
	content: '“';
	display: block;
	.left;
	.type(900, 1.75em/1em);
	margin-top: -3px;
	padding-right: 5px;
	text-shadow: 0 1px 1px #ffffff;
}


/* COMMON CLASSES
------------------------------------- */

@sprites-size: 120px 180px;

.ac { text-align: center; }
.ar { text-align: right; }
.left { float: left; }
.center, .icon.center { margin: 0 auto; }
.right { float: right; }

.push { clear:both; }

.hide { display: none; }

ul { list-style:none; }

.border-radius(@radius: 3px) {
	border-radius: @radius;
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
}
.box-shadow {
	box-shadow: 0 2px 3px rgba(0,0,0,0.25);
	-webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.25);
	-moz-box-shadow: 0 2px 3px rgba(0,0,0,0.25);
}
.box-shadow-inset {
	box-shadow: 0 1px 2px rgba(0,0,0,0.25) inset;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.25) inset;
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.25) inset;
}
.box-sizing {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
.transition {
	-webkit-transition: all 1.5s ease-in-out;
    -moz-transition: all 1.5s ease-in-out;
    -o-transition: all 1.5s ease-in-out;
}

.avatar {
	border: 1px solid #aaaaaa;
	.border-radius(5px);
	box-shadow: 0 1px 1px #ffffff, 0 1px 1px #000000 inset;
	-webkit-box-shadow: 0 1px 1px #ffffff, 0 1px 1px #000000 inset;
	-moz-box-shadow: 0 1px 1px #ffffff, 0 1px 1px #000000 inset;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #eeeeee 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#eeeeee 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#eeeeee 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#eeeeee 100%); /* IE10+ */
	background: linear-gradient(top,  #ffffff 0%,#eeeeee 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
	margin: 5px 8px 5px 0;
}

/* LAYOUT
------------------------------------- */

body {
	background: url('../img/wood-mahogany.png');
	font: normal 100% "Helvetica Neue", "Helvetica", Arial, sans-serif;
	color: @white;
	margin: 0;
	padding: 0;
}

fieldset {
	margin: 5px;
}

input {
	padding: 5px;
	font-size: 1em;
}

a.twitter-connect {
	display: block;
	margin: 0 auto;
	height: 24px;
	width: 151px;
	background: url('../img/sign-in-with-twitter.png') 0 0 no-repeat;
}

#footer {
	position: fixed;
	top: auto;
	bottom: 0;
	display: block;
	height: 50px;
	min-height: 50px;
	width: 100%;
	z-index: 3;
    border: none;
	color: @white;
	font-weight: bold;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.5);
	border-top: 1px solid #000000;
	background: @stout;
	box-shadow: 0 -1px 2px rgba(0,0,0,0.5), 0 1px 2px rgba(255,255,255,0.25) inset;
	-webkit-box-shadow: 0 -1px 2px rgba(0,0,0,0.5), 0 1px 2px rgba(255,255,255,0.25) inset;
	-moz-box-shadow: 0 -1px 2px rgba(0,0,0,0.5), 0 1px 2px rgba(255,255,255,0.25) inset;
}

#footer ul {
	width: 100%;
	margin-bottom: 0;
	margin: 2px 0 auto;
	padding: 0;
}
#footer ul li {
	.box-sizing;
	display: inline-block;
	width: 33.3%;
	margin: 0;
	padding: 0;
	background: none;
	border: none;
}
#footer ul li:nth-child(2) a {
	margin: -5px 0 0;
	padding: 5px 0 0;
	border: 1px solid #000000;
	border-bottom: none;
	background: @stout;
	border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
	-moz-border-radius: 10px 10px 0 0;
	box-shadow: 0 0 2px rgba(0,0,0,1), 0 1px 2px rgba(255,255,255,0.35) inset;
	-webkit-box-shadow: 0 0 2px rgba(0,0,0,1), 0 1px 2px rgba(255,255,255,0.35) inset;
	-moz-box-shadow: 0 0 2px rgba(0,0,0,1), 0 1px 2px rgba(255,255,255,0.35) inset;
}
#footer ul li:first-child {
	border-left: none;
}
#footer ul li:last-child {
	border-right: none;
}
#footer ul li.active {
	background: rgba(171,144,144,0.25);
	box-shadow: 0 0 3px rgba(0,0,0,0.35) inset;
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,0.35) inset;
	-moz-box-shadow: 0 0 3px rgba(0,0,0,0.35) inset;
}
#footer ul li a {
	display: block;
	width: 100%;
	text-align: center;
	color: #ab9090;
	font-weight: 500;
	letter-spacing: 1px;
	font-size: 0.6875em;
	text-shadow: -1px -1px 1px rgba(0,0,0,0.8);
}
#footer ul li.active a, #footer ul li a[selected], #footer ul li a:active {
	color: #ffffff;
	background: none;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.8);
}
#footer ul li:nth-child(2).active a {
	background: #3f2f2d;
}
#footer ul li a span {
	display: block;
	margin: 0 auto;
	padding: 0;
	height: 30px;
	width: 30px;
	color: #ffffff;
	background: url('../img/sprites.png');
	background-size: @sprites-size;
}
#footer ul li.find_beer a span {
	background-position: -60px 0;
}
#footer ul li.find_beer.active a span {
	background-position: -90px 0;
}

#footer ul li.the_tab a span {
	background-position: -60px -30px;
}
#footer ul li.the_tab.active a span {
	background-position: -90px -30px;
}

#footer ul li.profile a span {
	background-position: -60px -60px;
}
#footer ul li.profile.active a span {
	background-position: -90px -60px;
}

/* INPUT
------------------------------- */

li.input-text {
	height: 45px;
	padding: 0 5px 5px;
	margin: 0;
	background: rgb(238,238,238); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(204,204,204,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(204,204,204,1) 100%); /* W3C */
	border-bottom: 1px solid #2c2c2c;
}
#add_beer_form li {
	position: relative;
	padding: 0;
}
#add_beer_form input.text, #add_beer_form textarea, textarea {
	font: normal 1em "Helvetica Neue", "Helvetica", sans-serif;
	border: none;
	margin: 0;
	padding: 0.5em 0.5em 3px;
}
#add_beer_form input.text {
	text-transform: capitalize;
}
#add_beer_form input.text:focus, #add_beer_form textarea:focus {
	background: #ffffcc;
	border: none;
}
#add_beer_form textarea {
	resize: none;
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	padding-bottom: 2px;
}
#beer_categories, #beer_styles {
	left: -9999px;
	position: absolute;
}
#add_comment {
	display: block;
	.box-sizing;
	.box-shadow;
	.grayGradient;
	width: 100%;
	position: fixed;
    z-index: 2;
	top: auto;
	bottom: 0;
	padding: 0 5px;
	min-height: 45px;
	box-shadow: 0 -1px 2px rgba(0,0,0,0.35);
	-webkit-box-shadow: 0 -1px 2px rgba(0,0,0,0.35);
	-moz-box-shadow: 0 -1px 2px rgba(0,0,0,0.35);
}
#add_comment textarea:focus, #add_comment input:focus {
	background: #ffffcc;
	border: 1px solid @amber;
}
textarea#add_comment_text {
	.box-sizing;
	width: 100%;
	margin: 5px 0 0;
	padding: 5px;
	height: 2em;
	.border-radius;
	.box-shadow-inset;
	border: 1px solid #cccccc;
	resize: none;
}

li.textarea {
	padding: 0;
	height: 90px;
	position: relative;
}

li.textarea textarea {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 80px;
	resize: none;
	margin: -1px;
	padding: 0.5em 0.5em 3px;
	outline: none;
	border: none;
	border-bottom: 1px solid #cccccc;
	.border-radius(0);
}

li.input-text input.search {
	background: #efefef url('/img/sprite.png') -40px -45px no-repeat;
	padding-left: 40px;
	.border-radius(1em);
}
li.input-text input.search:focus {
	background: #ffffff url('/img/sprite.png') -40px -45px no-repeat;
	padding-left: 40px;
	.border-radius(1em);
}

/* INDEX
------------------------------- */

#index.home {
	margin-bottom: 100px;
}

#index.home p {
	width: 80%;
	padding: 1em;
	margin: 0 auto;
	text-shadow: 1px 1px 1px rgba(0,0,0,1);
}
section#index_beer {
	display: block;
	height: 185px;
	width: 185px;
	margin: 0 auto;
	margin-top: 25px;
	background: url('../img/index_beer.png') 0 0;
}

/* LISTS
------------------------------- */

li {
	position: relative;
	padding: 5px 10px;
	color: #2c2c2c;
	text-shadow: 1px 1px 1px #ffffff;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #cccccc;
	background: #f5f5f5;
}
li:last-child {
	margin-bottom: 60px;
}
li.heading {
	padding: 2px 10px;
	font: normal 12px "Helvetica Neue", "Helvetica", sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #ffffff;
	text-shadow: -1px -1px 1px rgba(0,0,0,0.5);
	background: #e05c0b; /* Old browsers */
	background: -moz-linear-gradient(top,  #e05c0b 0%, #cb5909 15%, #cb5909 85%, #b75d09 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e05c0b), color-stop(15%,#cb5909), color-stop(85%,#cb5909), color-stop(100%,#b75d09)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e05c0b 0%,#cb5909 15%,#cb5909 85%,#b75d09 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e05c0b 0%,#cb5909 15%,#cb5909 85%,#b75d09 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e05c0b 0%,#cb5909 15%,#cb5909 85%,#b75d09 100%); /* IE10+ */
	background: linear-gradient(top,  #e05c0b 0%,#cb5909 15%,#cb5909 85%,#b75d09 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e05c0b', endColorstr='#b75d09',GradientType=0 ); /* IE6-9 */
	border-top: 1px solid #cc6600;
	border-bottom: 1px solid #aaaaaa;
	box-shadow: 0 1px 2px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.5);
}

li > a[selected], li > a:active {
	color: #ffffff;
	margin: -6px -10px;
	padding: 6px 10px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.8) inset;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.8) inset;
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.8) inset;
	background: #28343b; /* Old browsers */
	background: -moz-linear-gradient(top,  #28343b 0%, #828c95 8%, #828c95 94%, #b5bdc8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#28343b), color-stop(8%,#828c95), color-stop(94%,#828c95), color-stop(100%,#b5bdc8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #28343b 0%,#828c95 8%,#828c95 94%,#b5bdc8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #28343b 0%,#828c95 8%,#828c95 94%,#b5bdc8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #28343b 0%,#828c95 8%,#828c95 94%,#b5bdc8 100%); /* IE10+ */
	background: linear-gradient(top,  #28343b 0%,#828c95 8%,#828c95 94%,#b5bdc8 100%); /* W3C */
}
li > a[selected] p.meta, li > a:active p.meta, li > a[selected] h3, li > a:active h3 {
	color: #ffffff;
	text-shadow: 0 -1px 1px rgba(0,0,0,1);
}
li > a[selected] .avatar, li > a:active .avatar {
	box-shadow: 0 -1px 1px #000000;
}
li.load-message {
	padding-left: 60px;
	display: block;
	height: 40px;
	line-height: 40px;
	color: #aaaaaa;
	font: bold 1em "Helvetica Neue", "Helvetica", sans-serif;
}
li a {
	color: #2c2c2c;
	text-shadow: 0 1px 1px #ffffff;
	height: 100%;
	display: block;
	margin: -5px -10px;
	padding: 5px 10px;
}
li.load_more {
	display: block;
	padding: 20px;
	color: #888888;
	text-align: center;
	font-weight: bold;
}
li.share {
	height: 40px;
}


/* PROFILE
------------------------------- */

#following-table {
	.left;
	border: 1px solid #cccccc;
	border-bottom: none;
	.border-radius;
	margin-top: 5px;
}
#following-table li {
	display: inline-block;
	border-right: 1px solid #cccccc;
	padding: 5px 8px;
	margin: 0;
	.type(900,1em);
}
#following-table li:last-child {
	border-right: none;
}
#following-table li b {
	color: #888888;
	.type(500,0.6875em);
}

#profile {
	.box-sizing;
	padding: 15px;
}
#profile li:first-child {
	border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
}
#profile li:last-child {
	border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	.box-shadow;
}

li.profile_item a {
	padding: 0.75em 0.5em 0.75em 1em;
}

li.profile_item span {
	float: right;
	display: block;
	margin-right: 30px;
	padding: 0.1em 1em;
	.border-radius(1em);
	.type(900,0.75em);
	text-shadow: 0 -1px 1px #ffffff;
	color: @black;
	text-align: center;
	border: 1px solid #cb5909;
	box-shadow: 0 1px 1px #ffffff;
	-webkit-box-shadow: 0 1px 1px #ffffff;
	-moz-box-shadow: 0 1px 1px #ffffff;
	.orangeGradient;
}

ul#profile_meta {
	list-style: none;
	display: block;
	margin: -5px -10px -9px;
	padding: 0;
}
ul#profile_meta li, ul#profile_meta li:first-child, ul#profile_meta li:last-child {
	cursor: pointer;
	display: inline-block;
	border: none;
	border-left: 1px solid #ffffff;
	border-right: 1px solid #cccccc;
	.border-radius(0);
	.box-sizing;
	.grayGradient;
	width: 50%;
	color: #888888;
	margin: 0;
	padding: 0.625em;
	text-align: center;
	font: bold 1em/3.125em "Helvetica Neue", "Helvetica", sans-serif;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: inset 0 0 1px 1px #f6f6f6;
	-moz-box-shadow: inset 0 0 1px 1px #f6f6f6;
	-ms-box-shadow: inset 0 0 1px 1px #f6f6f6;
	-o-box-shadow: inset 0 0 1px 1px #f6f6f6;
	box-shadow: inset 0 0 1px 1px #f6f6f6;
	text-shadow: 0 1px 1px rgba(255,255,255,1);
}


/* LOADER
------------------------------- */

#load_overlay {
	position: fixed;
	z-index: 9999;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	background: rgba(27,13,16,0.6);
}
#load_overlay .dialogue {
	display: block;
	margin: 0 auto;
	padding: 10px 20px;
	position: relative;
	top: 25%;
	width: 30%;
	.type(normal,1em);
	background: @stout;
	.ac;
	.border-radius(5px);
	.box-shadow;
}
#load_overlay .welcome {
	display: block;
	margin: 0 auto;
	padding: 10px 20px;
	position: relative;
	top: 25%;
	width: 30%;
	.type(normal,1em);
	background: @stout;
	.ac;
	.border-radius(5px);
	.box-shadow;
}


/* NOTIFICATION
------------------------------- */

#notifier {
	font-size: 18px;
	display: none;
	width: 100%;
	margin-top: 0;
	height: 50px;
	.blueGradient;
	opacity: 0.8;
	.transition;
}
#notifier a {
	display: block;
	padding: 8px 10px 12px;
}
#notifier.active {
	display: block;
	margin-top: -50px;
	.transition;
}
#profile_detail li.unread {
	background: #f0f9ff; /* Old browsers */
	background: -moz-linear-gradient(top,  #f0f9ff 0%, #cbebff 47%, #a1dbff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f9ff), color-stop(47%,#cbebff), color-stop(100%,#a1dbff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* IE10+ */
	background: linear-gradient(top,  #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* W3C */
}



/* BUTTONS
------------------------------- */

.add_button {
	display: block;
/*	height: 24px;
	width: 24px;*/
	font: bold 1em "Helvetica Neue", "Helvetica", sans-serif;
	padding: 0.5em;
	margin: 0.5em 0.625em;
	text-align: center;
	color: #2c2c2c;
	text-shadow: 0 1px 2px rgba(255,255,255,0.5);
	border: 1px solid #bbbbbb;
	border-bottom-color: #cccccc;
	background: #eeeeee; /* Old browsers */
	background: -moz-linear-gradient(top,  #eeeeee 0%, #d9d9d9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#d9d9d9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #eeeeee 0%,#d9d9d9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #eeeeee 0%,#d9d9d9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #eeeeee 0%,#d9d9d9 100%); /* IE10+ */
	background: linear-gradient(top,  #eeeeee 0%,#d9d9d9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#d9d9d9',GradientType=0 ); /* IE6-9 */
	-webkit-box-shadow: inset 0 0 1px 1px #f6f6f6;
	-moz-box-shadow: inset 0 0 1px 1px #f6f6f6;
	-ms-box-shadow: inset 0 0 1px 1px #f6f6f6;
	-o-box-shadow: inset 0 0 1px 1px #f6f6f6;
	box-shadow: inset 0 0 1px 1px #f6f6f6;
	text-shadow: 0 1px 1px rgba(255,255,255,1);
	.border-radius(0.1875em);
}
.add_button span {
	font: bold 1.25em "Helvetica Neue", "Helvetica", sans-serif;
}

#backButton {
	height: 30px;
	width: 95px;
	margin-top: -2px;
	padding: 0 8px 0 12px;
	text-align: center;
    background: url('/img/backbutton.png');
}

#addFriend {
	height: 30px;
	width: 50px;
	margin-top: 5px;
	background: url('/img/backbutton.png') 0 -120px;
}
#addFriend:active {
	background-position: 0 -150px;
}

.btn {
	display: block;
	border: 1px solid #696151;
	background: #fadb4e;
	font: bold 1em "Helvetica Neue", "Helvetica", sans-serif;
	color: #2c2c2c;
	text-align: center;
	text-shadow: 0 1px 2px rgba(255,255,255,0.5);
	.border-radius(0.3125em);
	margin: 0.5em;
	padding: 0.5em;
}
a.btn:active {
	margin: 0.5em;
	padding: 0.5em;
	color: #2c2c2c;
	text-shadow: 0 1px 2px rgba(255,255,255,0.5);
}
a.twitter.btn {
	height: 32px;
	width: 80%;
	font: bold 1.25em/1.5em "Helvetica Neue", "Helvetica", sans-serif;
	color: #006699;
	margin: 0 auto;
	border: 1px solid #0099cc;
	border-bottom: 1px solid #006699;
	-webkit-box-shadow: inset 0 1px 0 0 #96ca6d;
	-moz-box-shadow: inset 0 1px 0 0 #96ca6d;
	-ms-box-shadow: inset 0 1px 0 0 #96ca6d;
	-o-box-shadow: inset 0 1px 0 0 #96ca6d;
	box-shadow: inset 0 1px 0 0 #96ca6d;
	background: #87e0fd; /* Old browsers */
	background: -moz-linear-gradient(top,  #87e0fd 0%, #68d9ff 50%, #33ccff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#87e0fd), color-stop(50%,#68d9ff), color-stop(100%,#33ccff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #87e0fd 0%,#68d9ff 50%,#33ccff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #87e0fd 0%,#68d9ff 50%,#33ccff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #87e0fd 0%,#68d9ff 50%,#33ccff 100%); /* IE10+ */
	background: linear-gradient(top,  #87e0fd 0%,#68d9ff 50%,#33ccff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#33ccff',GradientType=0 ); /* IE6-9 */
}
.twitter.btn span, ul.rate_controls li.twitter span {
	display: block;
	height: 30px;
	width: 30px;
	background: url('../img/sprites.png') -61px -90px;
}

.orange.btn {
	.orangeGradient;
}
.blue.btn {
	color: @white;
	text-shadow: 0 1px 1px rgba(0,0,0,1);
	.blueGradient;
}

.btn.light {
	color: #888888;
    background: #d9d9d9;
    border: 1px solid #bbbbbb;
	-webkit-box-shadow: inset 0 0 1px 1px #f6f6f6;
	-moz-box-shadow: inset 0 0 1px 1px #f6f6f6;
	-ms-box-shadow: inset 0 0 1px 1px #f6f6f6;
	-o-box-shadow: inset 0 0 1px 1px #f6f6f6;
	box-shadow: inset 0 0 1px 1px #f6f6f6;
}


/* ICON
------------------------------- */

.icon {
	display: block;
	vertical-align: middle;
	height: 40px;
	width: 40px;
	margin-right: 10px;
	background: url('/img/sprite.png') 0 0 no-repeat;
}
.icon.arrow {
	position: absolute;
	top: 50%;
	right: -10px;
	margin-top: -20px;
	background-position: -40px 0;
}
.icon.comment {
	height: 24px;
	width: 24px;
	background: url('../img/sprites.png');
	background-size: @sprites-size;
	background-position: -95px -95px;
}
.icon.notifications {
	height: 30px;
	width: 30px;
	background: url('../img/sprites.png');
	background-size: @sprites-size;
	background-position: -60px -120px;
}
.icon.settings {
	height: 30px;
	width: 30px;
	background: url('../img/sprites.png');
	background-size: @sprites-size;
	background-position: -90px -120px;
}

/* RATE CONTROLS & FUNKY ROW BUTTONS
------------------------------- */

ul.rate_controls, ul.add_attributes {
	list-style: none;
	display: block;
	margin: -6px -10px -9px;
	padding: 0;
}
ul.rate_controls li.twitter.active {
	.blueGradient-reverse;
}
ul.add_attributes {
	width: 100%;
	margin: 0 -7px 0 -5px;
}
ul.rate_controls li, ul.add_attributes li {
	.box-sizing;
	cursor: pointer;
	display: inline-block;
	text-align: left;
	width: 25%;
	margin: 0;
	padding: 10px 0;
	border: none;
	.grayGradient;
	border-left: 1px solid #ffffff;
	border-right: 1px solid #cccccc;
}
ul.add_attributes li, li.addToDrink {
	.box-sizing;
	.grayGradient;
	width: 50%;
	color: #888888;
	padding: 0.625em;
	text-align: center;
	font: bold 1em/3.125em "Helvetica Neue", "Helvetica", sans-serif;
	-webkit-box-shadow: inset 0 0 1px 1px #f6f6f6;
	-moz-box-shadow: inset 0 0 1px 1px #f6f6f6;
	-ms-box-shadow: inset 0 0 1px 1px #f6f6f6;
	-o-box-shadow: inset 0 0 1px 1px #f6f6f6;
	box-shadow: inset 0 0 1px 1px #f6f6f6;
	text-shadow: 0 1px 1px rgba(255,255,255,1);
}
li.addToDrink {
	width: 100%;
	padding: 0.25em 1em;
}
ul.add_attributes li b {
	height: 20px;
	width: 5px;
	padding: 0 0.5em 0 0;
	text-align: center;
	font: bold 2em "Helvetica Neue", "Helvetica", sans-serif;
}
ul.add_attributes li:nth-child(even) {
	border-right: none;
}
ul.rate_controls li.active, ul.add_attributes li.active, li.addToDrink.active {
	.box-shadow-inset;
	border-left: 1px solid #ffffff;
	background: #f1da36; /* Old browsers */
	background: -moz-linear-gradient(top,  #f1da36 0%, #fefcea 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1da36), color-stop(100%,#fefcea)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f1da36 0%,#fefcea 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f1da36 0%,#fefcea 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f1da36 0%,#fefcea 100%); /* IE10+ */
	background: linear-gradient(top,  #f1da36 0%,#fefcea 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1da36', endColorstr='#fefcea',GradientType=0 ); /* IE6-9 */
}

ul.rate_controls span, li.addToDrink span {
	display: block;
	margin: 0 auto;
	height: 30px;
	width: 30px;
	background: url('../img/sprites.png');
	background-size: @sprites-size;
}
li.addToDrink span {
	.left;
	margin: 0.5em -2.25em 0.5em 0.5em;
	background-position: 0 -120px;
}
li.addToDrink.active span {
	background-position: -30px -120px;
}
ul.rate_controls li.love span {
	background-position: 0 0;
}
ul.rate_controls li.love.active span {
	background-position: -30px 0;
}

ul.rate_controls li.like span {
	background-position: 0 -30px;
}
ul.rate_controls li.like.active span {
	background-position: -30px -30px;
}

ul.rate_controls li.meh span {
	background-position: 0 -60px;
}
ul.rate_controls li.meh.active span {
	background-position: -30px -60px;
}

ul.rate_controls li.dislike span {
	background-position: 0 -90px;
}
ul.rate_controls li.dislike.active span {
	background-position: -30px -90px;
}

ul.rate_controls li:first-child {
	border-left: none;
}
ul.rate_controls li:last-child {
	border-right: none;
}


/* STAT TABLE
------------------------------- */

p.stats {
	margin: 5px 0;
	font-weight: normal;
	color: @black;
	display: block;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -icab-text-overflow: ellipsis;
    -khtml-text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
p.stats b {
	display: inline-block;
	width: 85px;
	margin-right: 15px;
	text-align: right;
}


/* AUTOSUGGEST FORMATTING
------------------------------------------------- */

/* AutoSuggest CSS - Version 1.2 */

#add_beer_form ul.as-selections {
	list-style-type: none;
	margin: 0;
	height: 38px;
	overflow: hidden;
	background: @white;
	background-color: @white;
}

ul.as-selections.loading {
	background-color: #eee;
}

ul.as-selections li {
	margin: 0;
}

#add_beer_form ul.as-selections li.as-selection-item {
	color: @stout;
	padding: 0.45em 7px 0.65em 10px;
	.type;
	background: #ffffff;
}

ul.as-selections li.as-selection-item:last-child {
	margin-left: 30px;
}

#add_beer_form ul.as-selections li.as-selection-item a.as-close {
	float: right;
	margin: -1px 0 0 7px;
	padding: 0;
	height: 24px;
	width: 24px;
	display: block;
	cursor: pointer;
	color: @stout;
	.type;
	font-weight: bold;
	text-align: center;
	-webkit-transition: color .1s ease-in;
}

ul.as-selections li.as-selection-item.blur {
	color: #666666;
	background-color: #ffffff;
}

ul.as-selections li.as-selection-item.blur a.as-close {
	color: #999;
}

ul.as-selections li:hover.as-selection-item {
	color: #2b3840;
	background-color: @white;
}

ul.as-selections li:hover.as-selection-item a.as-close {
	color: #4d70b0;
}

/*ul.as-selections li.as-selection-item.selected {
	border-color: #1f30e4;
}*/

ul.as-selections li.as-selection-item a:hover.as-close {
	color: #1b3c65;
}

ul.as-selections li.as-selection-item a:active.as-close {
	color: #4d70b0;
}

#add_beer_form ul.as-selections li.as-original {
	margin-left: 0;
	border: none;
}

#add_beer_form ul.as-selections li.as-original input {
	border: none;
	outline: none;
	width: 100%;
	height: 38px;
	color: #aaaaaa;
	background: #ffffff;
}
#add_beer_form ul.as-selections li.as-original input:focus {
	background: #ffffcc;
}

ul.as-list {
	position: absolute;
	z-index: 2;
	list-style-type: none;
	margin: 2px 0 0;
	padding: 0;
	.type;
	color: @stout;
	background: none;
	/*background-color: #ffffff;*/
	box-shadow: 0 2px 12px rgba(0,0,0,0.25);
	-webkit-box-shadow: 0 2px 12px rgba(0,0,0,0.25);
	-moz-box-shadow: 0 2px 12px rgba(0,0,0,0.25);
}

#add_beer_form li.as-result-item, #add_beer_form li.as-message {
	margin: 2px 0 0;
	padding: 5px 12px;
	background: #877b67;
	border: 1px solid #caba9e;
	border-bottom: 1px solid @stout;
	cursor: pointer;
	text-shadow: none;
	color: #ffffff;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.8);
	.border-radius(1em);
	box-shadow: 0 1px 1px rgba(0,0,0,0.8);
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.8);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.8);
}
#add_beer_form li.as-result-item:last-child {
	margin-bottom: 2px;
}

li:first-child.as-result-item {
	margin: 0;
}

li.as-message {
	margin: 0;
	cursor: default;
}

/*li.as-result-item.active {
	background-color: #3668d9;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 64%, from(rgb(110, 129, 245)), to(rgb(62, 82, 242)));
	border-color: #3342e8;
	color: #fff;
	text-shadow: 0 1px 2px #122042;
}*/

li.as-result-item em { 
	font-style: normal; 
	background: #444;  
	padding: 0 2px;
	color: #fff;
}

li.as-result-item.active em { 
	background: #253f7a;  
	color: #fff;
}

/* Webkit Hacks  */
@media screen and (-webkit-min-device-pixel-ratio:0) {	
	ul.as-selections {
		border-top-width: 2px;
	}
	ul.as-selections li.as-selection-item {
		padding-top: 3px;
		padding-bottom: 3px;
	}
	ul.as-selections li.as-selection-item a.as-close {
		margin-top: -1px;
	}
	ul.as-selections li.as-original input {
		height: 19px;
	}
}

/* Opera Hacks  */
@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0) {
	ul.as-list {
		border: 1px solid #888;
	}
	ul.as-selections li.as-selection-item a.as-close {
		margin-left: 4px;
		margin-top: 0;
	}
}

/* IE Hacks  */
ul.as-list {
	border: 1px solid #888\9;
}
ul.as-selections li.as-selection-item a.as-close {
	margin-left: 4px\9;
	margin-top: 0\9;
}

/* Firefox 3.0 Hacks */
ul.as-list,  x:-moz-any-link, x:default { 
	border: 1px solid #888;
}
BODY:first-of-type ul.as-list, x:-moz-any-link, x:default { /* Target FF 3.5+ */
	border: none;
}



/*	Retina media query.
	Overrides styles for devices with a 
	device-pixel-ratio of 2+, such as iPhone 4.
-----------------------------------------------    */

@media 
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min-device-pixel-ratio: 2) {
		
		#footer ul li a span {
			display: block;
			margin: 0 auto;
			padding: 0;
			height: 30px;
			width: 30px;
			color: #ffffff;
			background: url('../img/sprites.hd.png');
			background-size: @sprites-size;
		}
		
		li.input-text input.search {
			background: #efefef url('/img/sprite.hd.png') -40px -45px no-repeat;
			background-size: 80px 160px;
		}
		li.input-text input.search:focus {
			background: #ffffff url('/img/sprite.hd.png') -40px -45px no-repeat;
			background-size: 80px 160px;
		}
		
		.icon {
			display: block;
			height: 40px;
			width: 40px;
			margin-right: 10px;
			background: url('/img/sprite.hd.png') 0 0 no-repeat;
			background-size: 80px 160px;
		}
		
		.icon.comment {
			height: 24px;
			width: 24px;
			background: url('../img/sprites.hd.png');
			background-size: @sprites-size;
			background-position: -95px -95px;
		}
		.icon.notifications {
			height: 30px;
			width: 30px;
			background: url('../img/sprites.hd.png');
			background-size: @sprites-size;
			background-position: -60px -120px;
		}
		.icon.settings {
			height: 30px;
			width: 30px;
			background: url('../img/sprites.hd.png');
			background-size: @sprites-size;
			background-position: -90px -120px;
		}
		
		#addFriend {
			height: 30px;
			width: 50px;
			margin-top: 5px;
			background: url('/img/backbutton.hd.png') 0 -120px;
			background-size: 75px 180px;
		}
		
		#backButton {
			height: 30px;
			width: 95px;
			margin-top: -2px;
			padding: 0 8px 0 12px;
			text-align: center;
		    background: url('/img/backbutton.hd.png');
			background-size: 75px 180px;
		}
		
		.twitter.btn span {
			display: block;
			height: 30px;
			width: 30px;
			background: url('../img/sprites.hd.png') -61px -90px;
			background-size: @sprites-size;
		}
		
		ul.rate_controls span, li.addToDrink span {
			display: block;
			margin: 0 auto;
			cursor: pointer;
			height: 30px;
			width: 30px;
			background: url('../img/sprites.hd.png');
			background-size: @sprites-size;
		}
		
		li.addToDrink span {
			.left;
			margin: 0.5em -2.25em 0.5em 0.5em;
			background-position: 0 -120px;
		}
		li.addToDrink.active span {
			background-position: -30px -120px;
		}

}