ul#index(title="The Tab", selected="true")
	li
		p Welcome 
			a(href='/profile')= user_name

ul#find_beer(title="Find Beer")
	li.input-text
		input#beer_name.search(type="search", placeholder="Search here for the booze")
	span.results

ul#beer_detail(title="Beer")

ul#find_beer(title="Find Beer")

ul#profile(title="Profile")

ul#find_friend(title="Find Friends")
	li.input-text
		input#user_name.search(type="search", placeholder="Find friends by twitter handle")
	span.results