body(onload="store();")

	ul#index(title="The Tab", selected="true")
		li
			p Welcome 
				a(href='#')= user_name
	
	ul#feed_detail(title="Details")
		input#feed-item-id(type="hidden")
		input#feed-item-beer_id(type="hidden")
		input#feed-item-rating(type="hidden")
		span.results

	ul#find_beer(title="Find Beer")
		li.input-text
			form#beer_search(role="search", action="javascript:void(0);", autocorrect="off")
				input#beer_name.search(type="text", title="search", placeholder="Find beer")
		span.results

	ul#beer_detail(title="Beer")

	ul#add_beer(title="Add Beer")
		form#add_beer_form(action="javascript:void(0);")
			li
				input#add_beer_name.text(type="text", name="add_beer_name", placeholder="Name", title="Name")
			li(style="position:relative; z-index:999;")
				input#add_beer_brewery.text(type="text", name="add_beer_brewery", placeholder="Brewery", title="Brewery", autocorrect="off", onfocus="$('html, body').animate({scrollTop: '82px'}, 0);")
			li.textarea
				textarea#add_beer_description.text(placeholder="Description (Optional)", title="Description (Optional)")
			li.abv_attribute.hide
				input#add_beer_abv.text(type="number", name="add_beer_abv", placeholder="Alcohol by volume (%)", title="Alcohol by volume (%)")
			li.cat_attribute.hide(onclick="$('select#beer_categories').focus();")
				input#add_beer_category.text(type="text", name="add_beer_category", placeholder="Add Category", disabled="disabled")
				select#beer_categories
			li.style_attribute.hide(onclick="$('select#beer_styles').focus();")
				input#add_beer_style.text(type="text", name="add_beer_style", placeholder="Add Style (Optional)", disabled="disabled")
				select#beer_styles
					option(selected="selected", value="132") Out of Category
			li
				ul.add_attributes
					li.abv_select.ac(onclick="showAttribute('abv')")
						b +
						| ABV
					li.cat_select.ac(onclick="showAttribute('cat')")
						b +
						| Category
			li
				a.btn.orange(href="javascript:void(0);", onclick="addNewBeer();") Add Beer

	ul#profile(title="Profile")

	ul#profile_detail(title="Profile")

	ul#profile_settings(title="Settings")
		li
			a.btn.orange(href="http://stoutapp.uservoice.com/", target="_blank") Feedback
			a.btn.orange(href="javascript:void(0);", onclick="logout();") Logout

	ul#find_friend(title="Find Friends")
		li.input-text
			form(id="friend_search", role="search", action="javascript:void(0);", autocorrect="off")
				input#search_user.search(type="text", title="search", placeholder="Find drinking buddies")
		span.results

	ul#share(title="Share Beer")
		li.textarea
			textarea.comment(placeholder="Comment")
		li.push
			ul.rate_controls
				li.twitter.active(onclick="twitterToggle();")
					span
		li.share_button
			a.btn.orange(href="#index", onclick="load('Something went wrong!','error');") Bottom's Up