include head
body
	input(type="hidden", id="user_name", value="#{user_name}")
	input(type="hidden", id="user_id", value="#{user_id}")
	input#latitude(type="hidden")
	input#longitude(type="hidden")

	if user_id != ''
		section.toolbar
			a#addFriend.right(href="#find_friend", onclick="loadFindFriend();")
			h1#pageTitle
			a#backButton.button(href="javascript:void(0);") back
	else
		section.toolbar(style="display:none;")
			a#addFriend.right(href="#find_friend", onclick="loadFindFriend();")
			h1#pageTitle
			a#backButton.button(href="javascript:void(0);") back
	
	if user_id != ''
		section#footer
			section#notifier
			ul
				li.the_tab.active(onclick="loadTab(0);")
					a(href="#index")
						span
						| The Tab
				li.find_beer(onclick="loadFindBeer();")
					a(href="#find_beer")
						span
						| Beer Me
				li.profile
					a(href='#profile', onclick='loadProfile(#{user_id});')
						span
						| Profile
		
		form#add_comment(action="#", method="#")
			textarea#add_comment_text(placeholder="Add Comment")

	!= body